@model IEnumerable<FoodOrderingSystem.Models.Orders>

@{
    ViewBag.Title = "EmployeeOrdersIndex";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2>All Orders </h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpicialInstruction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpicialInstruction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>

            <td>
                @Html.ActionLink("Edit", "EmployeeOrdersEdit", new { id = item.OrderId }) |
                @Html.ActionLink("Details", "EmployeeOrderDetails", "OrderItems", new { item.OrderId }, null)|
               
            </td>
        </tr>
    }

</table>
